ASynchronous/wsdl/AsyncEmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp1="http://xmlns.oracle.com/singleString" xmlns:tns="http://xmlns.oracle.com/AsyncEmployeeService" xmlns:emp="http://employee" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AsyncEmployeeService" targetNamespace="http://xmlns.oracle.com/AsyncEmployeeService">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://employee" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://employee" elementFormDefault="qualified" attributeFormDefault="qualified">
			<xs:element name="Employee" type="Emp"/>
			<xs:element name="EmployeeResponse" type="xs:string"/>
			<xs:complexType name="Emp">
				<xs:sequence>
					<xs:element name="empno" type="xs:int"/>
					<xs:element name="ename" type="xs:string"/>
					<xs:element name="job" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="callbackMessage">
		<wsdl:part name="callback" element="emp:EmployeeResponse"/>
	</wsdl:message>
	<wsdl:message name="requestMessage">
		<wsdl:part name="request" element="emp:Employee"/>
	</wsdl:message>
	<wsdl:portType name="callback_ptt">
		<wsdl:operation name="callback">
			<wsdl:input message="tns:callbackMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="execute_ptt">
		<wsdl:operation name="execute">
			<wsdl:input message="tns:requestMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute">
			<soap:operation soapAction="execute" style="document"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://xmlns.oracle.com/AsyncEmployeeService"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="callback_pttBinding" type="tns:callback_ptt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="callback">
			<soap:operation soapAction="callback" style="document"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://xmlns.oracle.com/AsyncEmployeeService"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>